VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_APPLICATION_ID=
VONAGE_APPLICATION_PRIVATE_KEY_PATH=./private.key
VIRTUAL_NUMBER=

GENESYS_CLIENT_ID=
GENESYS_CLIENT_SECRET=
GENESYS_ENVIRONMENT=usw2.pure.cloud
GENESYS_MESSAGE_DEPLOYMENT_ID=