<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nunjucks Template</title>
</head>
<body>

  {% include "./header.njk" %}
  
  {% block content %}
  {% endblock %}
  
  {% include "./footer.njk" %}
  {# <script src="index.js"></script> #}
</body>
</html>